/* ============================================= */
/*                   Variables                   */
/* ============================================= */
/* ============================================= */
/*                  Base styles                  */
/* ============================================= */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: white;
  color: black;
  font-family: "Caudex", serif;
  position: fixed;
}

/* ============================================= */
/*                    Header                     */
/* ============================================= */
header a {
  text-decoration: none;
}

header {
  padding: 35px 0 35px 0;
  margin-bottom: 10px;
  background-color: black;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 0.5rem solid #747474;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}

header h1 {
  padding: 20px 0 20px 0;
  color: #eb0808;
  font-family: "Allura", cursive;
  font-size: 10vw;
  position: relative;
  z-index: 3;
  color: #eb0808;
}

header p {
  font-weight: 700;
}

/* ============================================= */
/*                  Navigation                   */
/* ============================================= */
.nav ul {
  list-style: none;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 20px;
  padding: 20px 0 0 10px;
}

a:link {
  color: #eb0808;
  font-weight: 700;
  font-size: 1.5em;
}

a:visited {
  color: #eb0808;
}

#hamburger-icon {
  margin: auto 0;
  padding: 1px 0 5px 1px;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: black;
  margin: 6px 10px 2px 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.mobile-menu {
  display: none;
  position: center;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.open .mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.mobile-menu li {
  margin-bottom: 10px;
  color: #eb0808;
  margin-left: 10px;
}

/* ============================================= */
/*                 Section Styles                */
/* ============================================= */
h2 {
  margin: 20px 0 10px 30px;
  font-size: 8vw;
}

.main p {
  margin: 0 30px 10px 30px;
  font-size: 5vw;
}

.servUL {
  height: 10em;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
}

.servLI {
  color: black;
  font-family: "Caudex", serif;
  list-style-type: square;
  font-size: 1.1em;
  list-style-position: inside;
  padding: 0 10px 10px 10px;
}

.servLI:hover {
  -webkit-transform: none;
          transform: none;
}

.btn {
  background-color: #eb0808;
  color: white;
  padding: 8px 10px 4px 10px;
  margin: 80px 10px -90px 5px;
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: hand;
}

.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 10px;
}

img {
  height: 200px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-family: "Caudex", serif;
  font-size: 110%;
  padding: 1px 2px 1px 2px;
}

/* ============================================= */
/*                  Media Queries                */
/* ============================================= */
@media only screen and (max-width: 599px) {
  nav {
    display: none;
  }
  #hamburger-icon {
    display: block;
  }
  .address {
    display: none;
  }
  img {
    display: none;
  }
  .proudbtn {
    margin-top: 80px;
  }
}

@media only screen and (min-width: 600px) {
  /* ============================================= */
  /*                    Header                     */
  /* ============================================= */
  header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 50px 0 50px 0;
    background-color: white;
  }
  header h1 {
    justify-items: center;
    margin-left: 20%;
    font-size: 8vw;
  }
  header p {
    text-align: center;
    font-size: 2vw;
  }
  /* ============================================= */
  /*              Header Accent                    */
  /* ============================================= */
  .accent {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 200px 0 0;
    border-color: #eb0808 transparent transparent transparent;
    position: absolute;
    z-index: 1;
    right: 50%;
    left: 0;
    margin-right: 250px;
  }
  .diagonal-box {
    background-image: linear-gradient(45deg, #000000, #000000);
    width: 70px;
    height: 115px;
    -webkit-transform: skewY(220deg);
            transform: skewY(220deg);
    -webkit-transform: skewX(55deg);
            transform: skewX(55deg);
    margin-left: -80px;
    z-index: 5;
  }
  .content {
    margin: 0 auto;
    -webkit-transform: skewY(21deg);
            transform: skewY(21deg);
    margin-left: 100px;
  }
  /* ============================================= */
  /*                  Nav                          */
  /* ============================================= */
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    list-style: none;
    height: 30em;
    text-align: left;
    padding: 0;
    color: #eb0808;
    font-weight: 700;
  }
  ul li {
    font-size: 1.2vw;
    margin-left: 10px;
  }
  ul li:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  /* ============================================= */
  /*                     Flex                      */
  /* ============================================= */
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
  }
  .flex-child {
    -webkit-box-flex: .5;
        -ms-flex: .5;
            flex: .5;
    -ms-flex-line-pack: left;
        align-content: left;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    margin: 10px 0 0 0;
  }
  .flex-child2 {
    -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
            flex: 1.5;
    margin: 10px 0px 0 0;
  }
  .flex-child3 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 10px 10px 0 -15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .flex-child:first-child {
    margin-right: 20px;
  }
  .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px 10px 10px 80px;
  }
  .btn {
    padding: 8px 10px 4px 10px;
    margin: 0px 10px 0px 5px;
  }
  .main h2 {
    font-size: 3vw;
  }
  .main p {
    font-size: 2vw;
  }
  /* ============================================= */
  /*                     Imgs                      */
  /* ============================================= */
  .imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  img {
    height: 200px;
    width: 300px;
    margin: 10px 10px 10px 80px;
  }
  .notalone {
    height: 300px;
    width: 200px;
    -webkit-box-shadow: -10px 10px 5px #747474;
            box-shadow: -10px 10px 5px #747474;
    border: 5px solid black;
  }
  .welcomeImg {
    border-radius: 10%;
  }
  .aboutImg {
    border-radius: 5%;
    -webkit-box-shadow: -10px 10px 5px #747474;
            box-shadow: -10px 10px 5px #747474;
  }
  .visionImg {
    border-radius: 50%;
  }
  .missionImg {
    border-radius: 5%;
    -webkit-box-shadow: -10px 10px 5px #747474;
            box-shadow: -10px 10px 5px #747474;
  }
  .servImg {
    border-radius: 5%;
    -webkit-box-reflect: below 3px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  }
  .servUL {
    display: table;
    margin: 0 auto;
    margin-left: 0;
  }
  .servLI {
    color: black;
    font-family: "Caudex", serif;
    list-style-type: square;
    font-size: 1.1em;
    list-style-position: inside;
    position: relative;
    left: 1em;
    padding-right: 1em;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }
  .idealsImg {
    -webkit-box-shadow: -10px 10px 5px #747474;
            box-shadow: -10px 10px 5px #747474;
    border-radius: 2%;
  }
  .donImg {
    border-radius: 2%;
    border: 2px solid #747474;
  }
  .forwardImg {
    border-radius: 50%;
  }
  .connImg {
    border-radius: 5%;
    -webkit-box-shadow: -10px 10px 5px #747474;
            box-shadow: -10px 10px 5px #747474;
  }
  footer {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  ul li {
    font-size: 16px;
    margin-left: 50px;
  }
  header h1 {
    font-size: 80px;
    margin-left: 180px;
  }
  header p {
    font-size: 20px;
  }
  .diagonal-box {
    background-image: linear-gradient(45deg, #000000, #000000);
    width: 70px;
    height: 115px;
    -webkit-transform: skewY(220deg);
            transform: skewY(220deg);
    -webkit-transform: skewX(55deg);
            transform: skewX(55deg);
    margin-left: -250px;
    z-index: 5;
  }
  .content {
    margin: 0 auto;
    -webkit-transform: skewY(21deg);
            transform: skewY(21deg);
    margin-left: 100px;
  }
  .main h2 {
    font-size: 35px;
    margin-top: 75px;
  }
  .main p {
    font-size: 25px;
  }
  .flex-child3 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 10px 10px 0 0;
  }
  .imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  img {
    height: 300px;
    width: 400px;
  }
  .notalone {
    height: 400px;
    width: 300px;
  }
  .servLI {
    font-size: 20px;
  }
}
/*# sourceMappingURL=styles.css.map */